<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>635224958145-8ctvccrp9l7d7gv34pgdif6nkho302vm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.635224958145-8ctvccrp9l7d7gv34pgdif6nkho302vm</string>
	<key>API_KEY</key>
	<string>AIzaSyDEipc-YmBeEP462KjxxBLoNEjfn_H-Ek8</string>
	<key>GCM_SENDER_ID</key>
	<string>635224958145</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>practice.ProfilePhotoUploadView</string>
	<key>PROJECT_ID</key>
	<string>profilephotoupdateview</string>
	<key>STORAGE_BUCKET</key>
	<string>profilephotoupdateview.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:635224958145:ios:6f1a36155f74c96a</string>
	<key>DATABASE_URL</key>
	<string>https://profilephotoupdateview.firebaseio.com</string>
</dict>
</plist>